*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Verdana;
	font-size: 16px;
}

html {
	height: 722px;
	width: 1000px;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.listing {
	height: 100%;
	width: 800px;
	display: flex;
	flex-direction: row;
}

.attributes {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

img {
	height: 100px;
	width: 100px;
}